<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div
            class="box-root flex-flex"
            style="grid-area: top / start / 8 / end"
          >
            <div
              class="box-root"
              style="
                background-image: linear-gradient(
                  white 0%,
                  rgb(247, 250, 252) 33%
                );
                flex-grow: 1;
              "
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5">
            <div
              class="box-root box-divider--light-all-2 animationLeftRight tans3s"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2">
            <div
              class="box-root box-background--blue800"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4">
            <div
              class="box-root box-background--blue animationLeftRight"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6">
            <div
              class="box-root box-background--gray100 animationLeftRight tans3s"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end">
            <div
              class="box-root box-background--cyan200 animationRightLeft tans4s"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end">
            <div
              class="box-root box-background--blue animationRightLeft"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20">
            <div
              class="box-root box-background--gray100 animationRightLeft tans4s"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17">
            <div
              class="box-root box-divider--light-all-2 animationRightLeft tans3s"
              style="flex-grow: 1"
            ></div>
          </div>
        </div>
      </div>
      <div
        class="box-root padding-top--24 flex-flex flex-direction--column"
        style="flex-grow: 1; z-index: 9"
      >
      
        <div class="formbg-outer padding-top--48">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--20 d-flex justify-content-center">Sign up to your account</span>
              <form
                id="stripe-login"
                class="needs-validation"
                #userForm="ngForm"
                novalidate
                (ngSubmit)="handleSubmit(userForm)"
              >
              <div class="field padding-bottom--24">
                <div class="form-group">
                    <label>Firstname</label>
                    <input
                      type="text"
                      class="form-control"
                      name="firstname"
                      [(ngModel)]="user.firstname"
                      required
                      #firstname="ngModel"
                      [ngClass]="{ 'is-invalid': userForm.submitted && firstname.errors }"
                    />
                    @if (userForm.submitted && firstname.errors) {
                    <div class="invalid-feedback">
                      @if (firstname.errors['required']) {
                      <div class="text-danger">firstname is required</div>
                      }
                    </div>
                    }
                  </div>
              
        
              </div>

              <div class="field padding-bottom--24">
                <div class="form-group">
                    <label>Lastname</label>
                    <input
                      type="text"
                      class="form-control"
                      name="lastname"
                      [(ngModel)]="user.lastname"
                      required
                      #lastname="ngModel"
                      [ngClass]="{ 'is-invalid': userForm.submitted && lastname.errors }"
                    />
                    @if (userForm.submitted && lastname.errors) {
                    <div class="invalid-feedback">
                      @if (lastname.errors['required']) {
                      <div class="text-danger">lastname is required</div>
                      }
                    </div>
                    }
                  </div>
              
        
              </div>

                 <div class="field padding-bottom--24">
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      [(ngModel)]="user.email"
                      required
                      email
                      #email="ngModel"
                      [ngClass]="{
                        'is-invalid': userForm.submitted && email.errors
                      }"
                    />
                    @if (userForm.submitted && email.errors) {
                    <div class="invalid-feedback">
                      @if (email.errors['required']) {
                      <div class="text-danger">Email is required</div>
                      } @if (email.errors['email']) {
                      <div class="text-danger">Email is invalid</div>
                      }
                    </div>
                    }
                  </div>
          
                </div>
  
          
                <div class="field padding-bottom--24">
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="user.password"
                      required
                      minlength="6"
                      maxlength="40"
                      #password="ngModel"
                      [ngClass]="{ 'is-invalid': userForm.submitted && password.errors }"
                    />
                    @if (userForm.submitted && password.errors) {
                    <div class="invalid-feedback">
                      @if (password.errors['required']) {
                      <div class="text-danger">Password is required</div>
                      }
                  @if (password.errors['minlength']) {
                      <div class="text-danger">Password must be at least 6 characters</div>
                      }
                    </div>
                    }
                  </div>
                </div>
              
  
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Register" />
                </div>
             
                <div class="field padding-bottom--26">
                  <div>
                    Don't have An Account
                    <a href="#">click here?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  